{% extends "base.html.twig" %}

{% block body %}
    <section class="container" id="root_index">
        <h1>Hey you ! Welcome on Wild Series</h1>
        <br>
        <a href="{{ path('wild_index') }}">
            View all programs
        </a>
        <br>
    </section>
{% endblock %}
