
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top justify-content-center" >

    <ul class="navbar-nav mr-5">
        {% if app.user is not null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Mon compte</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#">Favoris</a>
        </li>
    </ul>

    <a class="navbar-brand ml-5 mr-5" href="/">Wild Series</a>

    <ul class="navbar-nav ml-5">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Catégories
            </button>
            <div class="dropdown-menu">
                {{render(controller('App\\Controller\\CategoryController::index'))}}
            </div>
        </div>
        <li class="nav-item ml-5">
            <a class="nav-link" href="#">Acteurs / Actrices</a>
        </li>
    </ul>

</nav>

